{% extends 'store/base.html' %} {% block title %}About Us{% endblock %} {% block
body %}

<div class="container-fluid bg-success text-light py-1 text-center">
    <h1>About Us</h1>
</div>

<div class="container p-5" style="float: left; width: 40%">
    <p>
        This Pharmacy Management System is made to perform simple tasks such as
        keeping the records of medicines which are available in stock and also
        performing actions such as updating and selling medicines to the
        cutomers. This system allows to keep the records of the medicines which
        are sold to the customers along with all the details.
    </p>
    <h2 class="font-weight-bold mt-3">Made By-</h2>
    <h5 class="my-3 text-muted">Rohan Darji</h5>
    <!--
    <h2 class="font-weight-bold mt-3">Github-</h2>
    <h5 class="my-3 text-muted" >Rohan-Darji</h5>
    -->
</div>

<div class="container p-5" style="float: right; width: 60%">
    <img src="/static/store/about.jpg" style="width: 760px" />
</div>

{% endblock %}
